.header {
    height: 90px;
    position: fixed;
    z-index: 3;
    width: 100%;
    background: linear-gradient(var(--black-cl), transparent);
    @include transition(var(--time));

    .container-fluid {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        a {
            display: flex;
        }

        &.remove {
            visibility: hidden;
        }
    }

    &__nav {
        display: flex;
        cursor: pointer;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        &-m {
            display: none;
        }

        li {
            list-style-type: none;
            padding: 0 20px;

            a {
                text-decoration: none;
                font-size: 1.5rem;
                font-family: pnb;
                line-height: 1.8rem;
                letter-spacing: 0.1em;
                color: var(--white-cl);
                position: relative;
                width: fit-content;
                display: flex;
                align-items: center;
                height: 100%;
                @include transition(var(--time));

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: var(--yellow-cl);
                    left: 0;
                    bottom: 30px;
                    visibility: hidden;
                    opacity: 0;
                    @include transition(var(--time));
                }

                &.active {
                    color: var(--yellow-cl);

                    &::after {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            &:hover {
                a {
                    color: var(--yellow-cl);

                    &::after {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__right {
        .lang {
            cursor: pointer;
            position: relative;
            font-family: pnb;
            font-size: var(--btn-text);
            line-height: var(--btn-lh);
            letter-spacing: var(--btn-ls);
            color: var(--white-cl);

            &__current {
                @include regular-flex;

                span {

                    margin-right: 5px;
                }

                svg {
                    @include transition(var(--time));
                }
            }

            &__options {
                background-color: var(--black-cl);
                position: absolute;
                width: 50px;
                right: 0;
                top: 30px;
                text-align: center;
                visibility: hidden;
                opacity: 0;
                @include transition(var(--time));

                &-item {
                    color: var(--white-cl);
                    padding: 5px 0;
                    @include transition(var(--time));

                    &:hover {
                        color: var(--yellow-cl);
                    }
                }
            }

            &.active {
                .lang__current {
                    svg {
                        @include transform(rotateX(180deg));
                    }
                }

                .lang__options {
                    visibility: visible;
                    opacity: 1;
                }
            }

            &.remove {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    &__hambur {
        width: 24px;
        height: 20px;
        position: relative;
        display: none;

        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--white-cl);
            @include transition(var(--time));

            &::before,
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: var(--white-cl);
            }

            &::after {
                position: absolute;
                bottom: 2px;
                @include transition(var(--time));
            }

            &::before {
                position: absolute;
                top: 8px;
                @include transition(var(--time));
            }
        }

        &.active {
            span {
                background-color: transparent;

                &::before {
                    transform: rotate(45deg) translate(1px, -2px);
                }

                &::after {
                    transform: rotate(-45deg) translate(8px, -5px);
                }
            }
        }
    }

    &.change {
        background-color: var(--black-cl);
    }

    @include sm {
        height: 64px;

        .container-fluid {
            .header__nav {
                display: none;
            }

            .header__right {
                display: flex;
                align-items: center;

                .header__hambur {
                    display: block;
                    margin-left: 26px;
                    cursor: pointer;
                }
            }
        }
    }
}