html {
    font-size: 62.5%; // for rem usage ( 1rem = 10px )
}

body {
    width: 100%;
    max-width: var(--max-width-page);
    margin: auto;
    scroll-behavior: smooth;
    font-family: pn;
    font-size: var(--body-text);
    line-height: var(--lh-lv4);
    letter-spacing: var(--ls-lv3);

    &.disable-scroll {
        height: 100vh;
        overflow: hidden;
    }

    .container-fluid {
        width: 100%;
        max-width: var(--max-width-container-fluid);
        // padding-right: var(--gap);
        // padding-left: var(--gap);
        // margin-right: auto;
        // margin-left: auto;
        padding: 0 var(--gap);
        margin: 0 auto;
        position: relative;
    }

    .container {
        width: 100%;
        max-width: var(--max-width-container);
        // padding-right: var(--gap);
        // padding-left: var(--gap);
        // margin-right: auto;
        // margin-left: auto;
        padding: 0 var(--gap);
        margin: 0 auto;
        position: relative;
    }

    main {
        position: relative;

        section {
            padding: var(--pad) 0;
        }
    }
}