.header__nav-m {
    width: 100vw;
    height: 100vh;
    background-color: var(--black-cl);
    position: fixed;
    z-index: 2;
    @include regular-flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    @include transition(var(--time));

    li {
        padding: 10px 0;

        a {
            color: var(--white-cl);
            font-family: pnb;
            font-size: 2.2rem;
            line-height: 2.7rem;
            letter-spacing: 0.08em;

            &.active {
                color: var(--yellow-cl);
            }
        }
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}